<div>
  <label>Search:
    <input [(ngModel)]="search" placeholder="search" (change)="filterVehicleModels()"/>
  </label>
  <label> Order by:
      <select  [(ngModel)] ="orderby" (change)="filterVehicleModels()">
          <option orderby="">--All--</option>
          <option orderby="Name">
              Name
          </option>
          <option orderby="Abrv">
              Abrv
          </option>
      </select>
  </label>
  <label> Order by direction:
          <select  [(ngModel)] ="orderbydirection" (change)="filterVehicleModels()">
              <option orderbydirection="Ascending">
                  Ascending
              </option>
              <option orderbydirection="Descending">
                  Descending
              </option>
          </select>
      </label>
    <label>Filter by makes: </label>
    <select [(ngModel)]="filterbymake" (change)="filterVehicleModels()">
    <option value="">--All--</option>
    <option *ngFor="let vehiclemake of pagedvehiclemake.Results" value={{vehiclemake.Id}}>
        {{vehiclemake.Name}}
    </option>
    </select>
</div>
<div>
<h3>Create New Model here:</h3>
<label>Name:
  <input [(ngModel)]="vehiclemodel.Name" placeholder="name" />
</label>
<label>Abrv:
  <input [(ngModel)]="vehiclemodel.Abrv" placeholder="abrv" />
</label>
<label>Vehicle Makes: </label>
<select [(ngModel)]="vehiclemodel.MakeId">
    <option value="">--All--</option>
    <option *ngFor="let vehiclemake of pagedvehiclemake.Results" value={{vehiclemake.Id}}>
        {{vehiclemake.Name}}
    </option>
</select>
<button (click)="addVehicleModel()">Create New</button>
</div>
<div>
  <h2>Vehicle Model List</h2>
  <ul class="vehiclemodels">
      <li *ngFor="let model of pagedvehiclemodel.Results" [class.selected]="model === selectedVehicleModel" >
          <span class="badge" (click)="onSelect(model.Id)">{{model.Id}}</span> {{model.Name}}
          <button (click)="deleteVehicleModel(model)"> Delete </button>
      </li>
  </ul>
</div>
<div>
  <button (click)="previousPage()">Previous</button>
  <span>Page : {{pagedvehiclemodel.PageNumber}} / {{pagedvehiclemodel.TotalNumberOfPages}} </span>
  <button (click)="nextPage()">Next</button>
</div>
<app-vehiclemodel-detail [vehiclemodel]="selectedVehicleModel"></app-vehiclemodel-detail>