<div>
    <div class="input-group" style="padding-top: 10px">
        <span class="input-group-text" style="padding-right: 30px">Search: </span>
        <input class="form-control" type="text" placeholder="Search" [(ngModel)]="parameters.Search" (change)="getVehicleModels()"> 
    </div>
    <div class="input-group" style="padding-top: 10px">
        <span class="input-group-text" style="padding-right: 15px">Order by: </span>     
        <select class="form-control" [(ngModel)]="parameters.OrderBy" (change)="getVehicleModels()">    
            <option value="" selected disabled hidden>Choose here</option>         
            <option value="Name">
                Name
            </option>
            <option value="Abrv">
                Abrv
            </option>
        </select>      
    </div>
    <div class="input-group" style="padding-top: 10px">
        <span class="input-group-text">Direction: </span>
        <select class="form-control" [(ngModel)]="parameters.OrderByDirection" (change)="getVehicleModels()">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="Ascending">
                        Ascending
            </option>
            <option value="Descending">
                        Descending
            </option>
        </select>
    </div>
    <div class="input-group" style="padding-top: 10px"> 
        <span class="input-group-text" style="padding-right: 39px">Make: </span>
        <select *ngIf="makes" class="form-control" [(ngModel)]="makeId" (change)="getVehicleModels()">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="">All</option>
            <option *ngFor="let make of makes.Results" value="{{make.Id}}">
                {{make.Name}}
            </option>
        </select>
    </div>
</div>
<div *ngIf="vehiclemodels">
    <h1>List of Vehicle Models</h1>
    <a class="btn btn-outline-dark" routerLink="/vehiclemodel/create">Create New</a>
    <div style="padding-top: 5px"></div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Abrv</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let model of vehiclemodels.Results">
                <td>{{model.Id}}</td>
                <td>{{model.Name}}</td>
                <td>{{model.Abrv}}</td>
                <td><a class="btn btn-outline-light" routerLink="/vehiclemodel/details/{{model.Id}}">Details</a></td>
            </tr>
        </tbody>
    </table>
    <app-pagging [page]="page" [totalnumberofpages]="vehiclemodels.TotalNumberOfPages" (pageChanged)="onPageChangedHandler($event)"></app-pagging>
</div>
