<div>
    <div class="input-group">
        <span class="input-group-text">Search: </span>
        <input class="form-control" type="text" placeholder="Search" [(ngModel)]="parameters.Search" (change)="getVehicleModels()"> 
    </div>
    <div>
        <label>Order by: </label>     
            <select class="form-control" [(ngModel)]="parameters.OrderBy" (change)="getVehicleModels()">    
                <option value="" selected disabled hidden>Choose here</option>         
                <option value="Name">
                    Name
                </option>
                <option value="Abrv">
                    Abrv
                </option>
            </select>      
    </div>
    <div>
        <label>Order by direction </label>
            <select class="form-control" [(ngModel)]="parameters.OrderByDirection" (change)="getVehicleModels()">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="Ascending">
                        Ascending
                </option>
                <option value="Descending">
                        Descending
                </option>
            </select>
    </div>
    <div>
        <label>Order by Make </label>
        <select class="form-control" *ngIf="makes" [(ngModel)]="makeId" (change)="getVehicleModels()">
            <option value="">All</option>
            <option *ngFor="let make of makes.Results" value="{{make.Id}}">
                {{make.Name}}
            </option>
        </select>
    </div>
</div>
<div *ngIf="vehiclemodels">
    <h1>List of Vehicle Models</h1>
    <a class="btn btn-outline-dark" routerLink="/vehiclemodel/create">Create New Vehicle Model</a>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Abrv</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let model of vehiclemodels.Results">
                <td>{{model.Id}}</td>
                <td>{{model.Name}}</td>
                <td>{{model.Abrv}}</td>
                <button (click)="onSelect(model)">Details</button>
            </tr>
        </tbody>
    </table>
    <app-pagging [page]="page" [totalnumberofpages]="vehiclemodels.TotalNumberOfPages" (pageChanged)="onPageChangedHandler($event)"></app-pagging>
    <app-vehicle-model-details *ngIf="!details" [model]="selectedmodel" (modelChanged)="getVehicleModels()"></app-vehicle-model-details>
</div>
