<div>
    <div class="input-group" style="padding-top: 10px">
        <span class="input-group-text" style="padding-right: 30px">Search: </span>
        <input class="form-control" type="text" placeholder="Search" [(ngModel)]="parameters.Search" (change)="getVehicleMakes()">
    </div>
    <div class="input-group" style="padding-top: 10px">
        <span class="input-group-text" style="padding-right: 15px">Order by: </span>      
        <select class="form-control" [(ngModel)]="parameters.OrderBy" (change)="getVehicleMakes()">    
            <option value="" selected disabled hidden>Choose here</option>         
            <option parameters.OrderBy="Name">
                Name
            </option>
            <option parameters.OrderBy="Abrv">
                Abrv
            </option>
        </select>     
    </div>
    <div class="input-group" style="padding-top: 10px">
        <span class="input-group-text">Direction:  </span>
            <select  class="form-control" [(ngModel)]="parameters.OrderByDirection" (change)="getVehicleMakes()">
            <option value="" selected disabled hidden>Choose here</option>
            <option parameters.OrderByDirection="Ascending">
                Ascending
            </option>
            <option parameters.OrderByDirection="Descending">
                Descending
            </option>
        </select>
    </div>
</div>
<div *ngIf="vehiclemakes">
    <h1>List of Vehicle Makes</h1>
    <a class="btn btn-outline-dark" routerLink="/vehiclemake/create">Create New</a>
    <div style="padding-top: 5px"></div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Abrv</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let make of vehiclemakes.Results">
                <td>{{make.Id}}</td>
                <td>{{make.Name}}</td>
                <td>{{make.Abrv}}</td>
                <td><a class="btn btn-outline-light" routerLink="/vehiclemake/details/{{make.Id}}">Details</a></td>
            </tr>
        </tbody>
    </table>
    <app-pagging [page]="page" [totalnumberofpages]="vehiclemakes.TotalNumberOfPages" (pageChanged)="onPageChangedHandler($event)"></app-pagging> 
</div>