<h2>Create New Vehicle Make here:</h2>
<form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)">
    <div class="input-group" style="padding-top: 10px">
        <span class="input-group-text">Name: </span>
        <input type="text" class="form-control" formControlName="name" placeholder="name" required>
    </div>
    <div class="input-group" style="padding-bottom: 10px; padding-top: 10px">
        <span class="input-group-text" style="padding-right: 22px">Abrv: </span>
        <input type="text" class="form-control" formControlName="abrv" placeholder="abrv" required>
    </div>
    <div>
        <button class="btn btn-outline-dark" type="submit" [disabled]="createForm.invalid">Create New</button>
    </div>
</form>